main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a.agendar {
    height: fit-content;
    padding: 8px 4px;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid red;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 16px;
    display: block;
    
    transition-property: color background-color;
    transition-duration: 0.3s;
}

a.agendar, a.agendar:visited, a.agendar:hover, a.agendar:link {
    text-decoration: none;
    color: black;
}

a.agendar:hover {
    color: white;
    background-color: red;
}

a.agendar:active {
    background-color: rgb(200, 0, 0);
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
    box-sizing: border-box;
}

.card {
    padding: 8px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

span.card-title {
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.card-header {
    flex: 0 0 24px;
    margin-bottom: 4px;
}

.card-body {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 6px;

    transition-property: border;
    transition-duration: 0.3s;
}

.card-body:hover {
    border: 1px solid black;
}

@media (max-width: 800px) {
    main {
        display: inline-block;
    }

    .card-container {
        flex-direction: column;
        gap: 8px;
        margin-top: 16px;
    }
}