table {
    width: 100%;
    border-collapse: separate;
    border: 1px solid red;
    border-radius: 5px;
    border-spacing: 0;
}

th {
    background-color: #d0d0d0;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid red;
}

th:first-child {
    border-top-left-radius: 5px;
}

th:last-child {
    border-top-right-radius: 5px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

th:not(:last-child) {
    border-right: 1px solid red;
}

tr:nth-child(even) td {
    background-color: #e9e9e9;
}

td {
    padding: 8px;
    text-align: left;
    transition: background-color 0.3s;
}

td:not(:last-child) {
    border-right: 1px solid red;
}

tr:not(:last-child) > td {
    border-bottom: 1px solid red;
}

tr:hover > td {
    background-color: #ffaaaa;
}