@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*
    Paleta
    rgb(64, 0, 0)
*/

/* Body-Header-Main-Footer */

body {
    background-color: white;
    max-width: 100vw;
    height: 100vh;
    width: 100%;
    font-family: "Ubuntu";
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    padding: 4px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    box-sizing: border-box;
}

div.logo-box {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

div.logo-box-group {
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    justify-content: center;
}

header hr {
    flex: 0;
    margin: 0px 4px;
    margin-left: 8px;
    border: none;
    border-left: 1px solid lightgray;
    height: 100%;
    width: 1px;
}

nav.hmenu {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu-toggler {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 50px;
    height: 55px;
    color: white;
    border: none;
    display: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 55'><rect x='0' y='0' width='72' height='15' fill='%23000'/><rect x='0' y='20' width='72' height='15' fill='%23000'/><rect x='0' y='40' width='72' height='15' fill='%23000'/></svg>") center/contain no-repeat;;
    background-size: contain;
}

.menu-toggler:checked {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 55 55'><line x1='10' y1='10' x2='45' y2='45' stroke='%23000' stroke-width='8' stroke-linecap='round'/><line x1='45' y1='10' x2='10' y2='45' stroke='%23000' stroke-width='8' stroke-linecap='round'/></svg>") center/contain no-repeat;
    width: 50px;
    height: 50px;
}

header > a > img {
    mix-blend-mode: multiply;
}

a.menu-link {
    text-decoration: none;
    color: black;
    font-size: x-large;
    flex: 1 1 auto;
    text-align: center;
}

a.menu-link:hover {
    color: rgb(160, 0, 0);
}

main {
    margin-top: 8px;
    padding: 8px;
    box-sizing: border-box;
    flex: 1;
}

footer {
    background-color: lightgray;
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px 16px;
    flex: 0;
}

div.footer-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 6px;
}

div.footer-info-block > * {
    margin: 0px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

div.footer-info-block > *:not(.email) {
    font-weight: bold;
}

footer > div.footer-info-block:not(:first-child) > * {
    text-align: center;
}

/* Componentes */

p.email {
    color: red;
}

button {
    border: 2px solid red;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    font-family: "Ubuntu";
    text-align: center;
}

button:hover {
    background-color: lightgray;
}

button:active {
    background-color: gray;
}

/* Forms */

form {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100% - 16px);
    box-sizing: border-box;
}

div.input-text-form-box {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px 12px;
    align-items: center;
    margin-bottom: 12px;
}

input[type="text"], input[type="email"], 
input[type="date"], input[type="time"], 
input[type="tel"], select {
    appearance: none;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 3px;
    padding: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="email"]:focus,
input[type="date"]:focus, input[type="time"]:focus,
input[type="tel"]:focus, textarea:focus, select:focus {
    appearance: none;
    border: 2px solid red;
    outline: none;
}

input:invalid, select:invalid, textarea:invalid {
    border: 2px solid darkred;
}

textarea {
    resize: none;
    margin: 4px 0px;
    border: 2px solid lightgray;
    border-radius: 3px;
    width: 100%;
    min-height: 200px;
    box-sizing: border-box;
}

div.button-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

/* Responsivo */

@media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav.hmenu {
        flex-direction: column;
        align-items: start;
        row-gap: 4px;
        border: 1px solid lightgray;
        border-top: none;
        padding: 0px 0px;
        display: none;
    }

    hr {
        display: none;
    }

    a.menu-link {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    a.menu-link:not(:last-child) {
        border-bottom: 1px solid lightgray;
    }

    div.logo-box {
        margin-bottom: 4px;
        width: 100%;
    }

    .menu-toggler {
        display: inline-block;
    }

    .hb {
        display: block;
    }

    .logo-box:has(input.menu-toggler:checked) ~ nav.hmenu {
        display: flex;
    }
}