body {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    border: 2px solid red;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px;
}

form > * {
    width: 100%;
    margin: 16px 0px;
}

span.form-title {
    text-align: center;
    font: normal bold 34px Arial
}

form > input {
    appearance: none;
    height: 48px;
    font-size: 18px;
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-radius: 5px;

    padding-left: 16px;
}

form > input:focus {
    border: 1px solid red;
}

input::placeholder {
    font-size: 18px;
}

form > button {
    height: 48px;
    font-size: 18px;
    background-color: red;
    border: none;
    border-radius: 7px;
    color: white;
}

form > button:hover {
    background-color: rgb(200, 0, 0);
    cursor: pointer;
}

form > a {
    text-decoration: none;
    font: normal bold 18px "Arial";
    color: red;
}

form > a:hover {
    color: rgb(200, 0, 0);
}